
/* PHASE 12: Modal */

.modal.is-open {
    display: block;
}


.modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2px;
    background-color: rgba(0,0,0,0.8);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    cursor: pointer;
}

.modal-form {
    position: absolute;
    margin-left: -220px;
    top: 100px;
    left: 50%;
    width: 360px;
    padding: 20px;
    background: #fff;
    z-index: 2;
    border-radius: 5px;
    border: 1px solid #000;
   
}

.modal-input {
  margin: 0 0 20px 0;
}

.modal-input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.modal-input > modal-input {
  display: block;
  background: #fff;
  border: 1px solid rgb(27, 26, 26);
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.modal-input > modal-input:focus {
  border-color: #0c0;
}

.modal-submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.modal-submit > button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #0c0;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #070;
}

.modal-submit > button:hover {
  background: #0b0;
}

.modal-submit > button:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}

.modal-button-alternative {
  padding: 0 0 0 5px;
}

.modal-button-alternative strong {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.modal-button-alternative strong:hover {
  color: #f00;
}

.modal-form > h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
}

.modal-form > p {
    margin: 0 0 20px 0;
}
